extends layout

block content
 include nav
 .container
  .banner
    h1 Add New Entry
    p Instructions go here
  .new-entry-container
    form.new-entry(role='form', action='/addEntry', method='post')
      fieldset.new-mood
       legend Mood

       input#amused(class= 'input_hidden', type='radio', name='mood', value='amused')
       label(for='amused')
        .icon
          img(src='img/moods/amused.svg', alt="amused face")
          span amused
       input#angry(class= 'input_hidden', type='radio', name='mood', value='angry')
       label(for='angry')
        .icon
         img(src='img/moods/angry.svg', alt="angry face")
         span angry
       input#anxious(class= 'input_hidden', type='radio', name='mood', value='anxious')
       label(for='anxious')
        .icon        
         img(src='img/moods/anxious.svg', alt="anxious face")
         span anxious
       input#content(class= 'input_hidden', type='radio', name='mood', value='content')
       label(for='content')
        .icon
         img(src='img/moods/content.svg', alt="content face")
         span content
       input#excited(class= 'input_hidden', type='radio', name='mood', value='excited')
       label(for='excited')
        .icon
         img(src='img/moods/excited.svg', alt="excited face")
         span excited
       input#happy(class= 'input_hidden', type='radio', name='mood', value='happy')
       label(for='happy')
        .icon
         img(src='img/moods/happy.svg', alt="happy face")
         span happy
       input#irritable(class= 'input_hidden', type='radio', name='mood', value='irritable')
       label(for='irritable')
        .icon
         img(src='img/moods/irritable.svg', alt="irritable face")
         span irritable
       input#meh(class= 'input_hidden', type='radio', name='mood', value='meh')
       label(for='meh')
        .icon 
         img(src='img/moods/meh.svg', alt="meh face")
         span meh
       input#numb(class= 'input_hidden', type='radio', name='mood', value='numb')
       label(for='numb')
        .icon 
         img(src='img/moods/numb.svg', alt="numb face")
         span numb
       input#relaxed(class= 'input_hidden', type='radio', name='mood', value='relaxed')
       label(for='relaxed')
        .icon 
         img(src='img/moods/relaxed.svg', alt="relaxed face")
         span relaxed
       input#sad(class= 'input_hidden', type='radio', name='mood', value='sad')
       label(for='sad')
        .icon 
         img(src='img/moods/sad.svg', alt="sad face")
         span sad
       input#shy(class= 'input_hidden', type='radio', name='mood', value='shy')
       label(for='shy')
        .icon 
         img(src='img/moods/shy.svg', alt="shy face")
         span shy
       input#stressed(class= 'input_hidden', type='radio', name='mood', value='stressed')
       label(for='stressed')
        .icon 
         img(src='img/moods/stressed.svg', alt="stressed face")
         span stressed
       input#surprised(class= 'input_hidden', type='radio', name='mood', value='surprised')
       label(for='surprised')
        .icon 
         img(src='img/moods/surprised.svg', alt="surprised face")
         span surprised
       input#tired(class= 'input_hidden', type='radio', name='mood', value='tired')
       label(for='tired')
        .icon 
         img(src='img/moods/tired.svg', alt="tired face")
         span tired

      fieldset.new-activity
       legend Activity
       input#art(class= 'input_hidden', type='checkbox', name='activity[]', value='art')
       label(for='art')
        .icon 
         img(src='img/activities/art.svg', alt="art icon")
         span art
       input#chores(class= 'input_hidden', type='checkbox', name='activity[]', value='chores')
       label(for='chores')
        .icon 
         img(src='img/activities/chores.svg', alt="chores icon")
         span chores
       input#computer(class= 'input_hidden', type='checkbox', name='activity[]', value='computer')
       label(for='computer')
        .icon 
         img(src='img/activities/computer.svg', alt="computer icon")
         span computer
       input#exercise(class= 'input_hidden', type='checkbox', name='activity[]', value='exercise')
       label(for='exercise')
        .icon 
         img(src='img/activities/exercise.svg', alt="exercise icon")
         span exercise
       input#family(class= 'input_hidden', type='checkbox', name='activity[]', value='family')
       label(for='family')
        .icon 
         img(src='img/activities/family.svg', alt="family icon")
         span family
       input#meditate(class= 'input_hidden', type='checkbox', name='activity[]', value='meditate')
       label(for='meditate')
        .icon 
         img(src='img/activities/meditate.svg', alt="meditate icon")
         span meditate
       input#movie-tv(class= 'input_hidden', type='checkbox', name='activity[]', value='movie/tv')
       label(for='movie-tv')
        .icon 
         img(src='img/activities/movie-tv.svg', alt="movie-tv icon")
         span movie/tv
       input#music(class= 'input_hidden', type='checkbox', name='activity[]', value='music')
       label(for='music')
        .icon 
         img(src='img/activities/music.svg', alt="music icon")
         span music
       input#nap(class= 'input_hidden', type='checkbox', name='activity[]', value='nap')
       label(for='nap')
        .icon 
         img(src='img/activities/nap.svg', alt="nap icon")
         span nap
       input#nature(class= 'input_hidden', type='checkbox', name='activity[]', value='nature')
       label(for='nature')
        .icon 
         img(src='img/activities/nature.svg', alt="nature icon")
         span nature
       input#pet(class= 'input_hidden', type='checkbox', name='activity[]', value='pet')
       label(for='pet')
        .icon 
         img(src='img/activities/pet.svg', alt="pet icon")
         span pet
       input#games(class= 'input_hidden', type='checkbox', name='activity[]', value='games')
       label(for='games')
        .icon 
         img(src='img/activities/games.svg', alt="games icon")
         span games
       input#read(class= 'input_hidden', type='checkbox', name='activity[]', value='read')
       label(for='read')
        .icon 
         img(src='img/activities/read.svg', alt="read icon")
         span read
       input#school(class= 'input_hidden', type='checkbox', name='activity[]', value='school')
       label(for='school')
        .icon 
         img(src='img/activities/school.svg', alt="school icon")
         span school
       input#work(class= 'input_hidden', type='checkbox', name='activity[]', value='work')
       label(for='work')
        .icon 
         img(src='img/activities/work.svg', alt="work icon")
         span work

      fieldset.new-journal
       legend Journal
       textarea(type='text', name='journal', placeholder='Add Journal')

      button.btn(type='submit') Submit
