extends layout

block content
 include nav
 .container
  .banner
    h1 Add New Entry
    p Instructions go here
  .new-entry-container
    form.new-entry(role='form', action='/addEntry', method='post')
      fieldset.new-mood
       legend Mood
       input#sad(class= 'input_hidden', type='radio', name='mood', value='sad')
       label(for='sad')
         img(src='img/sad.png', alt="sad face")
       input#happy(class= 'input_hidden', type='radio', name='mood', value='happy')
       label(for='happy')
         img(src='img/happy.png', alt="happy face")

      fieldset.new-activity
       legend Activity
       input#work(class= 'input_hidden', type='checkbox', name='activity[]', value='work')
       label(for='work')
         img(src='img/sad.png', alt="sad face")
       input#exercise(class= 'input_hidden', type='checkbox', name='activity[]', value='exercise')
       label(for='exercise')
         img(src='img/happy.png', alt="happy face")
       input#school(class= 'input_hidden', type='checkbox', name='activity[]', value='school')
       label(for='school')
         img(src='img/sad.png', alt="sad face")
       input#eat(class= 'input_hidden', type='checkbox', name='activity[]', value='eat')
       label(for='eat')
         img(src='img/happy.png', alt="happy face")

      fieldset.new-journal
       legend Journal
       textarea(type='text', name='journal', placeholder='Add Journal')

      button(type='submit') Submit
