extends layout

block content
 include nav
 .container
  .banner
    h1 Delete Entry
    p Instructions go here
  .message-container
    p Are you sure you want to delete this entry?
      .btn-container 
       button(type='submit') Delete
       button(type='submit') Back to Log