.navbar
 h2
  a(href="/") Moodful
 nav
   a(href="#") About
   a(href="#") Track
   a(href="#") Analyze
   if (!user)
    a(href="/register") Sign Up
  if (!user)
   a(href="/login") Login
  if (user)
   a(href="/logout") Logout